* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

body {
  position: relative;
}
/* 헤더 */
header {
  width: 100%;
  height: 100px;
  background-color: #9c201b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: 3px 3px 5px rgb(240, 207, 207);
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 25px;
}

header li {
  width: calc(100% / 5);
  background-color: #9c201b;
  color: #fff9e8;
}

header li a {
  display: block;
  padding: 20px 0px;
  box-sizing: border-box;
}

header li:hover {
  background-color: #222;
  color: #fff9e8;
}

header a:hover {
  background-color: #fff9e8;
  color: #682711;
}

/*section*/
section {
  width: 100%;
  height: 100vh;
  font-size: 5vw;
  border-radius: 50px 50px 0px 0px;
  position: sticky;
  top: 0; /*화면 상단에 도착하면 fixed 됨! gsap 대신 이걸로 쉽게 하자*/
}

/*con1 자기소개*/
.con1 {
  background-color: orchid;
}

/*-----자바스크립트 결과물-----*/
.java {
  background-color: #9c201b;
  color: #fff;
  padding-top: 200px;
  /* padding-bottom: 200px; */
  box-sizing: border-box;
}

.java .inner {
  width: 70%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.java .inner .textBox {
  width: 45%;
}

.java .inner .textBox h2 {
  font-size: 3vw;
}
.java .inner .textBox h2 span {
  font-style: italic;
  font-size: 4vw;
  display: block; /*span에 감싸진 글씨가 밑으로 떨어지게*/
  margin-bottom: 1rem;
}
.java .inner .textBox .txt {
  font-size: 1.7vw;
  margin-bottom: 2rem;
}
.java .inner .textBox ul {
  margin-left: 3rem;
}
.java .inner .textBox ul li {
  font-size: 1.5vw;
  line-height: 2; /*단위 안 쓰면, 글자크기 2배만큼 줄간격*/
  position: relative;
}
.java .inner .textBox ul li::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
} /*가상선택자:앞에 넣을 때 before, 뒤에 넣을 때 after*/

/*imgBox*/
.java .inner .imgBox {
  width: 50%;
  position: relative;
}
.java .inner .imgBox li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.java .inner .imgBox li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.java .inner .imgBox li.img1 {
  top: 40%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid orange;
}

.java .inner .imgBox li.img2 {
  top: 60%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid olive;
}

.java .inner .imgBox li.img3 {
  top: 80%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid rgb(54, 172, 245);
}

/*--------coding 결과물-------*/
.coding {
  padding-top: 50px;
  background-color: #146371;
  padding-bottom: 100px;
}

.internal {
  width: 70%;
  margin: 0px auto;
  padding-top: 70px;
}

.coding .text h2 {
  font-size: 5vw;
  line-height: 1.2;
  margin-top: 50px;
  -webkit-text-stroke: 2px #b1dd40; /*글자테두리 생김*/
  color: transparent; /*글자 면 색상 빠짐*/
}

.coding .word1 {
  margin-top: 50px;
  font-size: 1.7rem;
}

.coding .word2 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.coding .text {
  width: 60%;
}

.picture {
  margin-top: 200px;
}
.picture ul {
  display: flex; /*자기가 알아서 li크기를 조절함*/
  justify-content: space-between;
  flex-wrap: wrap;
}
.picture li {
  width: 22%;
  height: 400px;
}

.picture li:nth-child(2n + 1) {
  margin-top: 200px;
} /*(2n+1) : 홀수번째 */

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture li:hover {
  box-shadow: 3px 3px 3px rgb(59, 59, 59);
  transform: scale(1.1);
  border-radius: 30px;
  font-style: italic;
  font-weight: bold;
}
.picture li:hover img {
  border-radius: 30px;
}
.picture li {
  position: relative;
}

.picture li p {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  font-size: 2rem;
}

/*커튼이미지 before, after 이용함*/
.picBox {
  position: relative;
}
.picBox::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #b1dd40;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2; /*비포가 중간에 있음(맨 아래 이미지 있음)*/
  transition: 0.8s;
  transition-delay: 0.6s;
}
/* 맨 아래 이미지 있고 - 중간에 before 있고 - 맨 위에 after가 있음*/
.picBox::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  /*바닥색깔과 똑같이 넣어서 안 보이지만 실제로 있는 상태임*/
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3; /*애프터가 비포 위로 올라가게*/
  transition: 0.8s;
  transition-delay: 0.4s;
}
.picBox.active::before {
  height: 0;
}
.picBox.active::after {
  height: 0;
}
/*높이가 있다가 사라지면서 그 위에 있는 게 보이게 되는 원리*/

/*------------------------------------*/

.artworks {
  background-color: purple;
  color: #fff;
  padding: 100px;
  box-sizing: border-box;
  overflow: hidden;
}
.artworks .textBox {
  width: 80%;
  /* margin: 0px auto; */
}

.artworks h2 {
  font-size: 5vw;
  letter-spacing: -5px;
  font-size: 5vw;
  margin-top: 50px;
  -webkit-text-stroke: 2px #b1dd40; /*글자테두리 생김*/
  color: transparent; /*글자 면 색상 빠짐*/
}

.artworks p {
  margin-top: 50px;
  font-size: 1.7rem;
}

.artworks .textBox {
  width: 60%;
}

.artworks ul {
  display: flex;
  margin-top: 200px;
}

.artworks li {
  width: 350px;
  height: 350px;
  flex-shrink: 0; /*부모크기 영향 안 받고 내맘대로*/
  padding: 0px 30px;
  box-sizing: border-box;
  position: relative;
}
.artworks img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*스마일 스티커*/
.artworks li::after {
  content: "";
  color: #fff;
  width: 100%;
  height: 100%;
  background: url(img/smile.png) no-repeat center / 120px;
  /*가로 120px하면 세로는 저절로 조절됨*/
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: 0.5s;
} /*before를 하면 li 앞에, 즉 이미지 위에 붙고. 여기서는 after를 썼기 때문에 이미지 밑에 붙음*/

.artworks li:hover img {
  filter: brightness(60%);
}

.artworks li:hover::after {
  opacity: 0.5;
}

/*li회전*/
.artworks li.a {
  transform: rotate(5deg);
}
.artworks li.b {
  transform: rotate(-5deg);
}
.artworks li.c {
  transform: rotate(8deg);
}

/* 모달 */
.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal.on {
  display: block;
}
.modalBox {
  width: 50%;
  height: 70%;
  background-color: yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalBox li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.modalBox li:nth-child(1) {
  display: block;
}

.modalBox li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------------------------------------------*/

footer {
  width: 100%;
  height: 100px;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

/*wrap*/
#wrap {
  width: 100%;
  height: 100vh;

  /* background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 

  4개를 통합한것이 background: url(../img/bg.jpg) no-repeat center / cover; (cover는 뒤에 따로)
  */

  background: url(../img/bg.jpg) no-repeat center / cover;
  display: flex;
}
.left {
  width: 30%;
}
.left h1 {
  text-align: center;
  position: absolute;
  top: 200px;
  left: 100px;
}
.left strong {
  font-size: 1rem;
  font-family: "Noto Serif", serif;
}
.left img {
  width: 170px;
}

.left .txt {
  font-size: 2rem;

  position: absolute;
  left: 100px;
  top: 400px;
  font-family: "Noto Serif", serif;
}
.txt span {
  color: #64492b;
}

/*right*/
.right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.right li {
  width: 15%;
  position: relative;
  color: #fff;
  background: url(../img/divider.png) no-repeat left center;
} /*세로선 위치 left center인 이유 : 모니터가 너무 클 때 박스의 왼쪽라인, 중앙에 배치되게*/
/*포토샵에서 세로선 만들 때는 애초에 원하는 사이즈의 도화지를 꺼내서 작업해야 됨*/
/*예를 들면 (두께)3 x (높이)1080짜리 도화지 꺼내기 */
.right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}
.right h2 {
  position: absolute;
  left: 10px;
  top: 30%;
  z-index: 10;
  color: #64492b;
  font-weight: normal;
  /* border-left: 3px solid #888;
  padding-left: 1rem; */
}
.right h3 {
  position: absolute;
  right: -100px;
  top: 50%;
  opacity: 0;
}
.right p {
  position: absolute;
  right: -100px;
  bottom: 100px;
  text-align: right;
  opacity: 0;
}

/*footer*/
footer {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-sizing: border-box;
  color: #fff;
}
footer ul {
  display: flex;
  gap: 20px;
}
